@import "../../app/variables";

#hero {
  background-image: url("/images/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 84px;

  //   height: calc(50vh + 84px);
  //   @media screen and (orientation: portrait) {
  //     height: calc(50vh + 84px);
  //   }
  @media screen and ($tablet) {
    padding-top: 88px;
  }
  @media screen and ($desktop) {
    padding-top: 92px;
  }
}
