@import "../../app/variables";

.header {
  background-color: transparent;
  position: fixed;
  justify-content: space-between;
  max-width: $maxWidth;
}

.container {
  background-color: $lightBg;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  padding-left: $mobileSidePadding;
  padding-right: $mobileSidePadding;

  @media screen and ($tablet) {
    height: 56px;
    margin-left: $tabletSidePadding;
    margin-right: $tabletSidePadding;
    margin-top: 32px;
    border-radius: 60px;
  }
  @media screen and ($desktop) {
    height: 60px;
  }
}

.burgerBtn {
  @media screen and ($laptop) {
    display: none;
  }
}

.navLinks {
  display: none;
  @media screen and ($laptop) {
    display: flex;
    font-size: 20px;
  }
  @media screen and ($desktop) {
    font-size: 24px;
  }
}

.contactLinks {
  display: none;
  @media screen and ($tablet) {
    display: flex;
  }
}

.btn {
  margin-right: 0;
}
