@import "../../app/variables";

.header {
  background-color: transparent;
  position: fixed;
  justify-content: space-between;
  max-width: $maxWidth;
  z-index: 100;
}

.container {
  background-color: $lightBg;
  height: 84px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;

  padding-left: $mobileSidePadding;
  padding-right: $mobileSidePadding;
  position: relative;
  overflow: hidden;

  @media screen and ($tablet) {
    height: 56px;
    margin-left: $tabletSidePadding;
    margin-right: $tabletSidePadding;
    margin-top: 32px;
    border-radius: 28px;

    padding-top: 8px;
    & .contactLinks {
      margin-top: 10px;
    }
    & .burgerBtn {
      margin-top: 10px;
    }
  }
  @media screen and ($laptop) {
    padding-top: 0;
    align-items: center;
    & .contactLinks {
      margin-top: 0px;
    }
    & .burgerBtn {
      margin-top: 0px;
    }
  }
  @media screen and ($desktop) {
    height: 60px;
  }
}

.mobileMebuContainer {
  height: 124px;

  @media screen and ($tablet) {
    height: 92px;
  }

  & .navLinksMobilevisible {
    top: 86px;
    @media screen and ($tablet) {
      top: 56px;
    }
  }
}

.burgerBtn {
  @media screen and ($laptop) {
    display: none;
  }
}

.navLinks {
  position: absolute;
  left: 24px;

  top: 100%;
  align-items: center;
  font-size: 16px;

  @media screen and ($laptop) {
    position: static;
    font-size: 20px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: fit-content;
  }
}

.contactLinks {
  display: none;
  @media screen and ($tablet) {
    display: flex;
  }
}

.btn {
  margin-right: 0;

  background-size: 200%;
  background-position: right;
}
